*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

.cc-cta-link.is-secondary:hover {
  background: var(--neutral-950);
}

.cc-cta-link.is-secondary:hover .cc-cta-text.is-secondary {
  color: var(--neutral-50);
}

.cc-cta-link.is-secondary .cta-button-wrap.is-secondary {
  transition: filter 0.5s ease;
}

.cc-cta-link.is-secondary:hover .cta-button-wrap.is-secondary {
  filter: invert(0%);
}
